{% extends "ocr/base.html" %}

{% block body %}

<form id='myform' action="{% url 'ocr:get_rest' %}" method='post'>
{% csrf_token %}
<img id='ocr_img' src='#' name='image' style='width:150px;height:auto;'/><br>
<input type='file' id='file_loader' required/>
<hr>
<input type='submit' value='OCR 분석'/>
</form>

<br>
<div id='ocr_text'>여기에 OCR 처리 결과를 표시할 예정임 ...</div>
<img id='ocr_img_output' src='#' name='image' style='width:600px;height:auto;'/><br>

<script>
$(document).ready(function() {
	function imageIsLoaded(e) {
        $('#ocr_img').attr('src', e.target.result);
        $('#ocr_img_output').attr('src', '#');
        $('#ocr_text').html('');
    };
    
    $("#file_loader").change(function () {
        if (this.files && this.files[0]) {
            var reader = new FileReader();
            reader.onload = imageIsLoaded;
            reader.readAsDataURL(this.files[0]);
        }
    });
    
	function ocr_send(message) {
		$('#ajaxBusy').show();
		var attr = { 'is_privacy': true, 'is_num': false, 'is_char':false, 
				'img_src': $('#ocr_img').attr('src'), 
				'is_drug':true, 'is_disease':true, 'is_hosp':true, 'is_test':false  };
		
		
	    if( $('#ocr_img').attr('src') != '#' ) {
		    $('#ocr_img').attr('src', '#');
		    $('#ocr_img').addClass('thumb');
		    $("#file_loader").val('');
		}
	} 
	
    // for waiting animation
    $('body').append('<div id="ajaxBusy" class="centered-div"><p><img src="/static/chat/ajax-loader.gif"></p></div>');
    $('#ajaxBusy').hide(); 
});
</script>
{% endblock %}
