<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <h1> Hi {{ user.username }}!</h1>
  <a href="{% url 'logout' %}">logout</a>
{% else %}

  <h1>Onions Apps</h1>
  <a href="{% url 'login' %}">login</a>,
  <a href="{% url 'accounts:signup' %}"> signup </a>
{% endif %}
  or,<br>
  <ol>
  <li>
  <a href="{% url 'chat:index' %}">OniChat. </a>
  </li>
  <li>
  <a href ="{% url 'admin:index' %}">Papricarecare Admin. </a>
  </li>
{% endblock %}
